$uricolor: cyan;
$literalcolor: red;

* {
  margin: 0;
  padding: 0;
}

#forcegraph {
  height: 800px;
  background-color: white;
}

.ellipse {
  fill: cyan;
  stroke: #333;
  stroke-width: 1.5px;
}

.uri {
  fill: $uricolor;
}

.literal {
  fill: $literalcolor;
}

.faded {
  opacity: 0.3;
}

.ellipse_highlight {
  fill: yellow;
  stroke: blue;
  stroke-width: 2px;
}