.ellipse {
  fill: cyan;
  stroke: #333;
  stroke-width: 1.5px;
}

.uri {
  fill: cyan;
}

.literal {
  fill: red;
}

.faded {
  opacity: 0.3;
}



.ellipse_highlight {
  fill: yellow;
  stroke: blue;
  stroke-width: 2px;
}