* {
  margin: 0;
  padding: 0;
}

$main-color: #01689b;

#main-navigation {
  min-height: 8vh;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: $main-color;
  box-shadow: 0 0 15px;
}

.navbar-toggler {
  border-bottom: none;
}

#PageContent {
  min-height: 87vh;
  max-width: 100%;
}

#Footer {
  min-height: 5vh;
  margin-bottom: 0%;
  background-color: #222222;
  color: white;
  text-align: center;
}
