$uricolor: cyan;
$literalcolor: red;
$selectedcolor: yellow;

$highlightStroke: blue;

.ellipse {
  stroke: #333;
  stroke-width: 1.5px;
}

.uri {
  fill: $uricolor;
}

.literal {
  fill: $literalcolor;
}

.selected {
  fill: $selectedcolor;
}

.faded {
  opacity: 0.3;
}

.ellipse_highlight {
  stroke: $highlightStroke;
  stroke-width: 5px;
  opacity: 1;
}
